.cart-form {
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
}

/* Hide the default number buttons */
.cart-form input[type="number"]::-webkit-inner-spin-button,
.cart-form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.count-button {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
}

#add-input {
    max-width: 40px;
    height: 40px;
    text-align: center;
}

.cart-form button {
    background-color: black;
    color: white;
    border: none;
}

.cart-form button:hover {
    cursor: pointer;
}