.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    margin-bottom: 16px;
    padding: 0 16px;
}

.navbar-links > ul{
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}
